.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
*.exe
*.exe.config
*.dll
*.pdb

appsettings.json
appsettings.*.json


packages/
*.nupkg

TestResults/
*.trx
*.coverage
*.coveragexml




